{% extends 'base.html' %}
{% block title %}
        {{ book.title }} by
        {% for author in book.authors.all %}
             {{ author.name }}
        {% endfor %}
{% endblock %}
{% block content %}
    <h1>{{ book.title }}</h1>
    <h5>
        Authors: 
        {% for author in book.authors.all %}
             {{ author.name }}
        {% endfor %}
    </h5>
    <h5>
        Publisher: {{ company }}
    </h5>
    <p>{{ book.description }}</p>
    {% for cover in book.covers.all %}
        {% if cover.image %}
            <img class="cover_image_detail" src="{{ cover.image.url }}" alt="{{ book.title }}">
        {% endif %}
    {% endfor %}
{% endblock content %}