<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book details</title>
</head>
<body>
    <h1>{{ book.title }}</h1>
    <p>{{ book.description }}</p>
    {% for cover in book.covers.all %}
        {% if cover.image %}
            <img src="{{ cover.image.url }}" width="300" height="190" alt="">
        {% endif %}
    {% endfor %}
</body>
</html>